# Данные для интеграции с  NC.
NEXTCLOUD_URL=
NEXTCLOUD_API_USER=
NEXTCLOUD_API_PASSWORD=

# Сервер приложения.
APP_HOST=
APP_PORT=

# MongoDB.
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_CONNECTION=

# Управление MongoDB через MongoExpress.
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=
