[Unit]
Description=Nextcloud Bots Application
After=network.target

[Service]
Type=simple
User=administrator
Group=administrator
WorkingDirectory=/home/administrator/projects/nc_bot
Environment=PATH=/home/administrator/projects/nc_bot/.venv/bin
ExecStart=/home/administrator/projects/nc_bot/.venv/bin/python /home/administrator/projects/nc_bot/main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
